# Урок 1. Типы данных. В(ы)вод данных. Мат.операции.

1.1 Типы данных

1) None, оно же неопределенное значение переменной

In [12]:
n = None
type(n)

NoneType

если функция ничего не возвращает через return, то выдаётся None

In [156]:
def aa():
    2 + 3

print(aa())

None

In [153]:
type(aa)

function

2) Логические переменные (Boolean Type)

In [157]:
a = 0
b = 1
boo = 12
print(bool(a))
print(bool(b), bool(boo))

False
True True

In [159]:
boo = True
ool = False
print(int(boo))
int(ool)

1

0

In [166]:
boo is False

False

In [165]:
ool is False

True

In [26]:
b1 = ''
bool(b1)

False

In [27]:
b2 = 'hg'
bool(b2)

True

In [167]:
ool is bool(b1)

True

In [160]:
str(boo)

'True'

In [5]:
a + 10 > b

True



3) Числа

a) int – только целые числа

b) float – число с плавающей точкой, то есть как целые числа, так и десятичные дроби

c) complex – комплексное число (этот тип подробно разберем позднее)

In [7]:
x = 1
type(x)

int

In [29]:
x1 = 1.
type(x1)

float

In [33]:
x2 = .6
x2

0.6

In [31]:
x + x1

2.0

int() - округляет в сторону 0

In [34]:
int(x2)

0

In [36]:
int(x1+1.6)

2

In [42]:
int(' 23 ')

23

? сколько можно хранить в памяти

вроде столько 
The largest positive integer supported by Python’s regular integer type. This is at least 2**31-1.



4) Контейнеры данных (Sequence Type)

a) list – список (массив)

b) tuple – кортеж

c) range – диапазон

In [49]:
li = [a, b, 2, 'd']
type(li)

list

In [50]:
li[1]

1

In [8]:
cort = (1, 2, 3)
type(cort)

tuple

In [79]:
li = list(cort)
li

[1, 2, 3]

In [51]:
cort[2] = 1

TypeError: 'tuple' object does not support item assignment

In [9]:
r = range(1,9)
print(r)

range(1, 9)

In [67]:

for i in r:
    print(i)

1
2
3
4
5
6
7
8

In [66]:
for i in range(12, 1, -1):
    print(i)

12
11
10
9
8
7
6
5
4
3
2

5) Строки (Text Sequence Type ) - str

In [72]:
st = 'word'
st2 = "d'f"
type(st2)

str

In [70]:
st + st2

"dfd'f"

In [71]:
st[0]

'd'

In [76]:
st[1:3]

'or'

In [74]:
st[0] = 'd'

TypeError: 'str' object does not support item assignment



6) Множества (Set Types)

a) set – множество

b) frozenset – неизменяемое множество

In [83]:
se = {1, 2, 3}
see = set([3, 4, 5, 6])
type(se)

set

In [88]:
se ^ see

{1, 2, 4, 5, 6}

7) Словари (Mapping Types) - dict

In [98]:
di = {'a': 1, 'b': 2, 2: 3, 4: b, 5: li}
di[2]

3

In [99]:
di[5]

[1, 2, 3]

# 1.2 В(ы)вод данных

print()  
print(  , sep=' ', end=' ')  
print('  '.format())


input()

In [110]:
print(1, 3, 5, sep='###', end='\n')

1###3###5

In [113]:
print(2, 7, end='\n', sep=' ')

2 7

In [117]:
nor = 'norton'

In [122]:
print("my name is {0[0]} {0[1]}".format(nor))

my name is n o

In [125]:
inp = int(input())

2

In [126]:
inp

2

In [127]:
inp2  = input('who??? ')

who??? no

In [169]:
inp2

'no'

# 1.3 Матем. операции

+

-

*

**

/
//
%

In [128]:
a++

SyntaxError: invalid syntax (<ipython-input-128-22e3d6dc1353>, line 1)

In [130]:
a += 1
a

2

In [131]:
[1, 2] + ['a']

[1, 2, 'a']

In [132]:
'a' * 3

'aaa'

In [133]:
[1, 2] * 3

[1, 2, 1, 2, 1, 2]

In [134]:
3**6

729

In [136]:
12 / 3

4.0

In [137]:
12 // 3

4

In [141]:
10 // 3

3

In [142]:
10 % 3

1

In [170]:
2**3

8

# 1.4 Комментарии

#

"""
"""

In [ ]:
# 10 - int

In [ ]:
'''
File "<ipython-input-128-22e3d6dc1353>", line 1
    a++
       ^
SyntaxError: invalid syntax
'''

# Задания

1. Ввод и вывод данных

Задача «Следующее и предыдущее» - через format

Задача «Шнурки»



3. Вычисления

Задача «Последняя цифра числа»

Задача «МКАД»

Задача «Дробная часть»

Задача «Первая цифра после точки»

Задача «Конец уроков»